.title-block {
	display: flex;
	width: 100%;
	margin: auto;
	margin-top: 4%;
	flex-direction: row;
	justify-content: center;
}
.title-element {
    font-weight: lighter;
    font-family: arial;
    color: black;
}
.products {
    display: flex;
	width: 90%;
	margin: auto;
	margin-top: 7%;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
} 
.box { 
	display: flex;
	flex-direction: column;
	align-items: center;
}
button {
	width: 70%;
	border: 1px solid rgb(35,186,193);
	background-color: rgb(249,249,249);
	cursor: pointer;
}
.price {
	margin-top: -1%;
}
.buy {
   color: rgb(35,186,193);
   font-weight: bold;
}
